/*
 *= require_tree .
 *= require_self
 */

 .cant-see-me {
   display: none;
 }

 .container {
    background: rgba(255, 255, 255, 0.7);
  }

  body {
  background: url("recipe_image.jpeg") no-repeat;
  background-size: cover;
}
